In [3]:
import pandas as pd 
from nltk import ngrams
from gensim import corpora, models
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

df = pd.read_csv("text.csv")
print("The number of rows  in this dataset is", len(df))
df.head()

The number of rows  in this dataset is 416809

   Unnamed: 0                                               text  label
0           0      i just feel really helpless and heavy hearted      4
1           1  ive enjoyed being able to slouch about relax a...      0
2           2  i gave up my internship with the dmrg and am f...      4
3           3                         i dont know i feel so lost      0
4           4  i am a kindergarten teacher and i am thoroughl...      4

In [4]:
# Assuming 'text' column contains the tweet texts
texts = df['text'].values

In [ ]:
# Tokenize the texts
tokenized_texts = [word_tokenize(text.lower()) for text in texts]

In [ ]:
# Remove stopwords
stop_words = set(stopwords.words('english'))
tokenized_texts = [[word for word in text if word not in stop_words] for text in tokenized_texts]

In [ ]:
from nltk.stem import WordNetLemmatizer
# Lemmatize the words
lemmatizer = WordNetLemmatizer()
tokenized_texts = [[lemmatizer.lemmatize(word) for word in text] for text in tokenized_texts]

In [ ]:
# Assuming 'text' column contains the tweet texts and 'label' column contains the emotions
texts = df['text'].values 
labels = df['label'].values

In [ ]:
# Split the data into training and test sets
texts_train, texts_test, labels_train, labels_test = train_test_split(texts, labels, test_size=0.2, random_state=42)

In [ ]:
# Convert the texts to a matrix of token counts
vectorizer = CountVectorizer()
counts_train = vectorizer.fit_transform(texts_train)
counts_test = vectorizer.transform(texts_test)

In [ ]:
# Train a Naive Bayes classifier
model = MultinomialNB()
model.fit(counts_train, labels_train)

In [ ]:
# Predict the labels for the test set
labels_pred = model.predict(counts_test)

In [ ]:
# Print a classification report
print(classification_report(labels_test, labels_pred))

In [ ]:
import joblib
# Save the model
joblib.dump(model, 'my_model.pkl')

In [ ]:
joblib.dump(vectorizer, 'vectorizer.pkl')